.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 2rem;
}


.icone:hover{
    background: var(--cor-primaria);
}

ul button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    background: var(--cor-primaria);
    margin: 0.5rem 0;
    border-radius: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul button img {
    height: 20px;
}



.formulario__tarefa {
    display: flex;
    gap: 30px;
    margin-bottom: 2rem;
}

.formulario__tarefa-input {
    max-width: 300px;
    width: 100%;
}

div h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.div__tarefas{
    display: flex;
    gap: 50px;

}

.div__tarefas__fazer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px black;
    padding-right: 50px;
}

.section__feitos {
    display: flex;
    flex-direction: column;
    align-items: center;
}


li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
}

input[type="checkbox"] {
    cursor: pointer;
}

ul input {
    height: 23px;
    border-radius: 8px;
    border: solid 2px var(--cor-primaria);
}
